/* establish grid container */
.wrapper {
  display: grid;
  /* set grid with header on top, search to the left, and main to the right */
  grid-template-areas:
    "header header"
    "aside main";
  /* set grid template rows and columns */
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 3fr;
}

/* use grid and set header to center with white text and gradient background with sky colors */
header {
  grid-area: header;
  background: linear-gradient(to bottom, #87CEEB 0%, #00BFFF 100%);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

/* set h1 to be larger than h2 */
header h1 {
  font-size: 50px;
}

/* set search container to be a flex container with a column layout */
.search {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  margin-top: 20px;
  margin-left: 20px;
}

/* set search button to be lightly below the search input with rounded corners, white text,
and a sky blue background */
#search-btn {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: #00BFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* set search input to be a flex container with a column layout */
#search-input {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

/* set main container to be a flex container with a column layout */
main {
  grid-area: main;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* set current to be above forecast */
.current {
  margin-bottom: 20px;
  background-color: #87CEEB;
  color: white;
  border-radius: 5px;
}

/* set forecast to be a flex container with a column layout */
.forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* set forecast container to be a flex container with a row layout */
.forecast-day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #87CEEB;
  color: white;
}

/* set search history to not display bullet points */
#search-history {
  list-style-type: none;
  padding-left: 0px;
}

/* set search history items to be a flex container with a row layout */
#search-history li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #87CEEB;
  color: white;
}
